$accent-color: #2196f3;
$text-color-black: #212121;
$text-color-gray: #757575;
$bg-hero-footer: #2f303a;
$text-white: #fff;
$bg-white: #fff;
$bg-section-gray: #f5f4fa;
$icon-color-gray: #afb1b8;
$adress-text-color: rgba(255, 255, 255, 0.6);
